#see_more {
    background-color: #EB1D25;
    border-radius: 4px;
    color: white;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    width: 150px;   
}

#see_more:hover {
    background-color: #337ab7;
    transition: all ease 1s;
}

.faq_bar {
    position: relative;
    width: 100%;
    height: 60px;
}
  
.title {
    position: relative;
    padding-top: 10px;
    height: 100%;
    width: 80%;
    margin: auto;
}
  
.bt-menu-trigger {
    font-size: 20px;
    position: absolute;
    display: inline-block;
    width: 2em;
    height: 100%;
    cursor: pointer;
    left: 25%;
    bottom: 5px;
}
  
.bt-menu-trigger span {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 0.2em;
    margin-top: -0.1em;
    background-color: #646464;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
  
  
.bt-menu-trigger span:after,
.bt-menu-trigger span:before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #646464;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}
  
.bt-menu-trigger span:before {
    -webkit-transform: translateY(-0.5em);
    transform: translateY(-0.5em);
}
  
.bt-menu-trigger span:after {
    -webkit-transform: translateY(0.5em);
    transform: translateY(0.5em);
}
  
.bt-menu-trigger.bt-menu-open span:before {
    -webkit-transform: translateY(-0.36em) translateX(0.65em) rotate(45deg) scaleX(0.6);
    transform: translateY(-0.35em) translateX(0.65em) rotate(45deg) scaleX(0.6);
}
  
.bt-menu-trigger.bt-menu-open span:after {
    -webkit-transform: translateY(0.36em) translateX(0.65em) rotate(-45deg) scaleX(0.6);
    transform: translateY(0.35em) translateX(0.65em) rotate(-45deg) scaleX(0.6);
}

@media only screen and (max-width: 600px){
  
    .faq_bar {
      height: 50px;
    }
    
    .title h2 {
      font-size: 18px;
    }
  
    .bt-menu-trigger {
      font-size: 10px;
      left: 0;
    }    
}
